html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    position: relative; /* 将 .container 设为相对定位，以容纳绝对定位的元素 */
}

.title {
    text-align: center;
    padding: 50px;
    background-color: black;
    color: white;
    position: absolute; /* 将 .title 设为绝对定位 */
    top: 0; /* 放置在容器顶部 */
    left: 0; /* 放置在容器左侧 */
    right: 0; /* 放置在容器右侧 */
    z-index: 1;
}

.title img {
    max-width: 100%; /* 确保图片不超出容器宽度 */
    max-height: 100px; /* 调整图片的最大高度，根据需要修改 */
    height: auto; /* 保持原始图片纵横比 */
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0 auto;
}

.left, .middle, .right {
    width: calc(33.33% - 15px);
    height: 100%;
    overflow: hidden; /* 隐藏溢出的内容 */
    position: relative; /* 为了定位内部的视频元素 */
    float:left;
    margin-right: 15px;
}

.left video, .middle video, .right video{
    width: 100%;
    height: 100%;
    object-fit: cover; /* 使视频充满 .left 容器 */
    position: absolute; /* 使视频相对于 .left 进行定位 */
    top: 0;
    left: 0;
}




.description-box {
    background-color: transparent; /* 背景颜色设为透明 */
    text-align: center;
    padding: 10px;
    position: absolute;
    width: auto; /* 宽度自适应内容 */
    bottom: 2px; /* 调整垂直位置以居中显示 */
    opacity: 1; /* 一直显示 */
    color: white; /* 文字颜色为白色 */
    transform: translateX(-50%); /* 水平居中 */
    left: 50%; /* 左侧位置为50% */
    border: none; /* 移除 .description-box 的边框 */
}

.description-box a {
    display: inline-block;
    background-color: black; /* 背景颜色设为透明 */
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border: 1px solid black; /* 边框样式应用在 <a> 元素上 */
    border-radius: 5px;
}

.description-box a:hover {
    text-decoration: underline;
}









