.container-all{
    display: flex;
    align-items: stretch;
}

#sidebar{
    width: 250px;
    height:100vh;
    background-color: black;
    color: white;
    transition: 1s;
}

#sidebar.active{
    margin-left:-200px;
}

.collapse-btn{
    position:relative;
    top:1%;
    left:210px;
    background-color: black;
    color: white;
    border:none;
    padding:5;
    font-size:30px;
}

.collapse-btn:hover{
    background-color: rgb(85, 87, 88);
    transition:0.4s;
}

#sidebar p{
    text-align:center;
    font-size:30px;
    font-style:italic;
    padding:10px;
}

#sidebar ul li a{
    padding:10px;
    font-size:20px;
    display:block;
    text-decoration:none;
    color: white;
}

#sidebar ul li a:hover{
    color:black;
    background: white;
}

.fa-light,
.fa-thin{
    float: right;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative; /* 将 .container 设为相对定位，以容纳绝对定位的元素 */
    background-color: black;
}

ul ul li a{
    background-color: rgb(58, 53, 53);
    font-size:20px;
    font-style:italic;
}

@media(max-width:600px){
    #sidebar{
        margin-left:-100px;
        width:150px;
        font-size:20px;
    }
    .collapse-btn{
        position:relative;
        top:1%;
        left:110px;
    }
    #sidebar.active{
        margin-left: 0px;
    }
    #sidebar ul p{
        font-size: 15px;
        text-align:left;
    }
}
.contant-container{
    background-color: white;
    width:100%;
    height:100vh;
}

.top-title {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    position: relative; /* 将 .title 设为绝对定位 */
    top: 0; /* 放置在容器顶部 */
    left: 0; /* 放置在容器左侧 */
    right: 0; /* 放置在容器右侧 */
    z-index: 1;
}

.top-title img {
    max-width: 100%; /* 确保图片不超出容器宽度 */
    max-height: 100px; /* 调整图片的最大高度，根据需要修改 */
    height: auto; /* 保持原始图片纵横比 */
    position: relative;
}

.ex-section {
    background-color: white;
    padding: 20px;
    text-align: center; /* 居中文字内容 */
}
  
.section-title {
    text-align: center;
    font-size: 24px;
    position: relative;
    margin-top: 50px;
}

.section-title p{
    color:black;
}
  
.section-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    height: 3px;
    background-color: black;
}
  
.underline {
    width: 50%;
    height: 20px;
    background-color: black;
    margin: 10px auto;
}
  
.product-box {
    display: flex;
    flex-wrap: wrap; /* 添加弹性盒子换行 */
    justify-content: space-between; /* 让产品项在一行上平均分布 */
    align-items: flex-start;
    margin-top: 60px;
}
  
.product-item {
    width: calc(33.33% - 20px); /* 让产品项在一行上平均分布，每行最多显示三个 */
    text-align: center;
    margin: 10px; /* 调整产品项的外边距，使它们之间的间距更合适 */
}
  
.product-item img {
    width: 60%;
    aspect-ratio: 10/6;
    object-fit: cover;
    background-position: center;
    margin-bottom: 10px;
}
  
.product-description {
    font-size: 18px;
}
  
.product-price {
    font-size: 16px;
    color: #888;
}

.product-item p{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
  }