/* FILEPATH: assets/css/index.css */

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.container-all {
    min-height: 100vh; 
    display: flex;
    align-items: stretch;
    background-color: black;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1; 
    overflow-y: auto;
    width: calc(100% - 250px);
    margin-left: 250px;
    transition: margin-left 1s;
}

.content-container.sidebar-active {
    width: calc(100% - 50px);
    margin-left: 50px;
}

.top-title {
    text-align: center;
    padding: 20px;
    position: relative;
    top: 5%;
    height: 20%;
    flex-shrink: 0;
}

.top-title img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.left,
.middle,
.right {
    flex: 1;
    overflow: hidden;
    position: relative;
    margin: 10px;
    height: 80%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-box {
    color: white;
    text-align: center;
    padding: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-box a {
    display: inline-block;
    color: white;
    text-decoration: none;
    opacity: 0;
    font-size: calc(20px + 1vw);
    font-style: italic;
}

.right:hover video,
.left:hover video,
.middle:hover video {
    filter:blur(10px);
}

.right:hover .description-box,
.left:hover .description-box,
.middle:hover .description-box {
    background: rgba(0, 0, 0, 0.5);
}

.right:hover .description-box a,
.left:hover .description-box a,
.middle:hover .description-box a {
    text-decoration: none;
    opacity: 1;
}

@media (max-width: 800px) {
    .content-container {
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    .content-container.sidebar-active {
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    .box {
        flex-direction: column;
    }

    .left,
    .middle,
    .right {
        width: 100%;
    }
}