body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1; 
    overflow-y: auto;
    width: calc(100% - 250px);
    margin-left: 250px;
    transition: margin-left 1s;
}

.content-container.sidebar-active {
    width: calc(100% - 50px);
    margin-left: 50px;
}

.container-all{
    min-height: 100vh; 
    display: flex;
    align-items: stretch;
    background-color: black;
}

.top-title {
    text-align: center;
    padding: 20px;
    position: relative;
    height: 10vh;
    flex-shrink: 0;
    background-color: black;
}

.top-title img {
    max-width: 100%;
    max-height: 100%;   
}

@font-face {
    font-family: 'SenjaSantuy';
    src: url('../font/SenjaSantuy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.section-title {
    text-align: center;
    font-size: 32px;
    position: relative;
    margin-top: 50px;
}

.section-title p{
    font-family: 'SenjaSantuy', sans-serif;
    color:white;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-box {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.description-box p {
    text-align: center;
    display: inline-block;
    color: white !important;
    font-size: auto;
    font-style: italic;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    align-items: center;
    max-width: 1000px;
    position: relative;
    width: 80%;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

#back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
    text-decoration: none; /* 移除链接下划线 */
    display: inline-block; /* 使链接表现得像按钮 */
}

#back-button:hover {
    background-color: rgba(0,0,0,0.8);
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 800px) {
    .content-container {
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    .content-container.sidebar-active {
        width: calc(100% - 200px);
        margin-left: 200px;
    }
}